In [1]:
import pandas as pd
import numpy as np

s = pd.Series(['A','b','B','ADAS',np.nan])
s

0       A
1       b
2       B
3    ADAS
4     NaN
dtype: object

In [2]:
s.str.lower()

0       a
1       b
2       b
3    adas
4     NaN
dtype: object

In [3]:
s.str.upper()

0       A
1       B
2       B
3    ADAS
4     NaN
dtype: object

In [4]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    NaN
dtype: float64

In [7]:
index = pd.Index(['   tang','    yu','di'])#去掉空格
index.str.strip()

Index(['tang', 'yu', 'di'], dtype='object')

In [10]:
df = pd.DataFrame(np.random.randn(3,2),columns = ['A a','B b'],index = range(3))
df

        A a       B b
0 -0.479309 -1.016405
1  0.872729 -0.500505
2 -0.179557  1.031443

In [12]:
df.columns = df.columns.str.replace(' ','_')#替换名字中的空
df

        A_a       B_b
0 -0.479309 -1.016405
1  0.872729 -0.500505
2 -0.179557  1.031443

In [14]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

In [15]:
s.str.split('_')

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [17]:
s.str.split('_',expand = True)

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

In [18]:
s.str.split('_',expand = True,n = 1)#只能切一次

   0    1
0  a  b_C
1  c  d_e
2  f  g_h

In [20]:
s = pd.Series(['aasd','bagxhs','assfa'])#是否包含
s.str.contains('a')

0    True
1    True
2    True
dtype: bool

In [21]:
s= pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [22]:
s.str.get_dummies(sep = '|')

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1