In [1]:
import pandas as pd

## Series结构的增删改查

In [2]:
data = [10,11,12]
index = ['a','b','c']
s = pd.Series(data = data,index = index)
s

a    10
b    11
c    12
dtype: int64

### 查操作

In [3]:
s[0:2]

a    10
b    11
dtype: int64

In [4]:
s.loc['b']

11

In [5]:
s.iloc[1]

11

### 改操作

In [6]:
s1 = s.copy()
s1['a'] = 100
s1

a    100
b     11
c     12
dtype: int64

In [8]:
s1.replace(to_replace = 100,value = 101,inplace = True)
s1

a    101
b     11
c     12
dtype: int64

In [9]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [10]:
s1.index = ['a','b','d']
s1

In [12]:
s1.rename(index = {'a': 'A'},inplace = True)
s1

A    101
b     11
d     12
dtype: int64

### 增加操作

In [14]:
s2 = pd.Series([100,500],index = ['g','h'])
s2

g    100
h    500
dtype: int64

In [15]:
s1.append(s2)

C:\Users\BAOfanTing\AppData\Local\Temp\ipykernel_2028\192587457.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1.append(s2)

A    101
b     11
d     12
g    100
h    500
dtype: int64

In [17]:
s1['j'] = 600
s1

A    101
b     11
d     12
j    600
dtype: int64

In [18]:
s1.append(s2,ignore_index = True)#false为保留原来索引

C:\Users\BAOfanTing\AppData\Local\Temp\ipykernel_2028\3703120161.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1.append(s2,ignore_index = True)

0    101
1     11
2     12
3    600
4    100
5    500
dtype: int64

### 删除操作

In [19]:
s1

A    101
b     11
d     12
j    600
dtype: int64

In [22]:
del s1['b']
s1

d     12
j    600
dtype: int64

In [23]:
s1.drop(['b','d'],inplace = True)
s1

KeyError: "['b'] not found in axis"

## DataFram结构的增删改查

In [24]:
data = [[10,11,12],[13,14,15]]
index = ['a','b']
columns = ['A','B','C']

df = pd.DataFrame(data = data,index = index, columns = columns)
df

    A   B   C
a  10  11  12
b  13  14  15

### 查操作

In [25]:
df['A']

a    10
b    13
Name: A, dtype: int64

In [26]:
df.iloc[0]

A    10
B    11
C    12
Name: a, dtype: int64

In [27]:
df.loc['b']

A    13
B    14
C    15
Name: b, dtype: int64

### 改操作

In [28]:
df.loc['a']['A'] = 150
df

     A   B   C
a  150  11  12
b   13  14  15

In [30]:
df.index = ['f','g']
df

     A   B   C
f  150  11  12
g   13  14  15

### 增操作

In [32]:
df.loc['c'] = [1,2,3]
df

     A   B   C
f  150  11  12
g   13  14  15
c    1   2   3

In [33]:
data = [[10,11,12],[13,14,15]]
index = ['e','d']
columns = ['A','B','C']

df2 = pd.DataFrame(data = data,index = index, columns = columns)
df2

    A   B   C
e  10  11  12
d  13  14  15

In [35]:
df3 = pd.concat([df,df2],axis = 0)
df3

     A   B   C
f  150  11  12
g   13  14  15
c    1   2   3
e   10  11  12
d   13  14  15

### 删操作

In [38]:
df3.drop(['d'],axis = 0, inplace = True)
df3

     A   B   C
f  150  11  12
g   13  14  15
c    1   2   3
e   10  11  12

In [39]:
del df3['A']
df3

    B   C
f  11  12
g  14  15
c   2   3
e  11  12